
    <nav>
        <div class="list">
            <img src="/images/pngtree-real-estate-building-logo-png-image_6139767.jpg" alt="" height="80px"
            width="60px">
        <a href=""> <span>Real</span> Estate</a>
        </div>
        <div class="links">
            <a href="/">Home</a>
            <!-- <a href="">Houses</a> -->
            <a href="/collection">Collections</a>
            <a href="/contact">Contact</a>
            <a href="/register">Register</a>
        </div>
    </nav>
