
<%-include("partials/header")%>
 <%-include("partials/nav")%>
<div class="container">
  <div class="heading">
  <h1 class="home"><span><i class="ri-add-line"></i></span>Home</h1>
  <h2 class="upgrade">Upgrade</h2>
<a href="">VIEW-PROJECTS<i class="ri-arrow-right-line"></i></a></div>

<div class="imgh">
  <p>Award winning designers with 20+ years of experience</p> <br>
  <h3>Re-imagine <br> your house</h3>
</div>
  <div class="image1">
    <img src="/images/modern-house-pine-trees-jru01hhh4cbykwdf.jpg" alt="">
    <img class="img2" src="/images/hero.jpg" alt="">
  </div>
</div>
<div class="page2">
<h1>One Platform for your Entire Portfolio</h1>
<p class="para">Manage Casa is custom built to manage tomanage both rental and community association portfolios of all sizes.</p>
<div class="imgcontainer">
  <div class="rental"><P>RENTAL</P></div>
  <div class="community"><p>COMMUNITY <br>ASSOCIATION</p></div>
</div>
<div class="detail">
  <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus iusto fugit repellat nihil dignissimos sed aliquam pariatur repellendus.</h2>
  <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla exercitationem alias, mollitia officiis beatae doloribus incidunt blanditiis nemo repudiandae ipsam?</h2>
</div>
</div>
<div class="page3">
  <div class="mainimg"></div>
  <div class="discription">
    <a href="">about<i class="ri-arrow-right-line"></i></a></div>
  </div>
</div>
<div class="page4">
  <div class="contact">
    <h1>Get in Touch</h1>
    <p><i class="ri-home-4-line"></i>Indrapuri Sector-C Bhopal(M.P) </p>
    <p><i class="ri-mail-line"></i>kartik@gmail.com</p>
    <p><i class="ri-whatsapp-line"></i>+8815210874</p>
    <p><i class="ri-phone-line"></i>+8815210874</p>
  </div>
  <div class="option">
    <h1>Usefull Links</h1>
    <li>Careers</li>
    <li>Contact us</li>
    <li>About us</li>
    <li>Gallery</li>
    <li>Our Clints</li>
    <li>Works</li>
  </div>
  <div class="message">
    <h1>Write to us</h1>
    <form action="">
    <textarea name="" id="" cols="30" rows="10" placeholder="Write your queries here.."></textarea> <br>
    <input type="email" placeholder="Enter your email"> <br>
    <button>submit</button>
  </form>
    
  </div>
</div>

<%-include("partials/footer")%>
